<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/create.css">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
       <center><h3>{{ message }}</center></h3>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <section>
        <h1>Registration</h1>
        <div class="content">
            <form  method="POST" class="formbody">
                <p class="ptag">User Name</p>
                <p>
                    <input class="inputbox" type="text" name="user_name" required>
                </p>
                
                <p class="ptag">Email</p>
                <p>
                    <input class="inputbox" type="email" name="email" required>
                </p>
                <p class="ptag">Password</p>
                <p>
                    <input class="inputbox" type="password" name="password" required></p>

                <p class="ptag">Confirm Password</p>
                <p>
                    <input  class="inputbox" type="password" name="confirm_password" required></p>
    
                <p><button type="submit">Create</button></p>
            </form>
        </div>
    </section>
</body>
</html>
