<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/static/create.css">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
       <center><h3>{{ message }}</center></h3>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <section>
        <h1>Login</h1>
        <div class="content">
            <form  method="POST" class="formbody" onsubmit="return validateform()">
                
                    <p class="ptag">Email</p>
                    <input class="inputbox" type="email" name="email" required>
        
                    <p class="ptag">Password</p>
                    <input class="inputbox" type="password" name="password" required>
                <p>
                <button type="submit">Login</button></p>
            </form>
        </div>
    </section>
</body>
</html>
