
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Notes App</title>
    <link rel="stylesheet" href="/static/welcome.css">
</head>
<body>
        <h1>Simple Notes App</h1>
        <div class="container">
        <h2>Your personal place .... </br>
            To jot down your thoughts,</br>
            tasks,</br>
            and ideas.</h2>
        <p><a href="{{url_for('create')}}">Create</a></p>
        <p><a href="{{url_for('login')}}">Login</a></p>
        </div>
</body>
</html>
